body{
   background-color: rgb(184, 240, 206);
   font-family: Arial, Helvetica, sans-serif;
   font: 16px;
   line-height: 1.5;
   margin: 0 auto;
   padding: 0 1rem;
   max-width: none;
}

h1 {
   text-align: center;
   font-size: 25px;
   color: rgb(0, 0, 0);
   background-color: rgb(100, 215, 114);
}
/*
nav:hover{ 
  background: rgba(34, 139, 34, 0.4);
}
ol{
   display: flex;
   gap: 30px;
   list-style: none;
   padding: 0;
   font-size: 18px;
}
a:hover{
   color: rgb(1, 75, 100);
}
ol{
   list-style-type: none;
}
   */
   
img{
   display: block;
   margin: auto;
}
   
h2{
   text-align: center;
   color: rgb(41, 34, 14);
   background-color: rgb(67, 188, 91);
   padding: 0;
   margin: 0.8em 0.1em;
}
footer{
   text-align: center;
   background-color: white;
}

/*ESTILO DE LA PAGINA INDEX*/

.imagen_principal {
  padding: 0;
  width: 100%;
  margin: auto;
  display: block;
}


/* ESTILO DE LA PAGINA PROGRAMA */

.contenedor{
 display: block;
}
.encuadre{
   width: 100%;
   margin: 1.5rem 0;
   padding: 1rem;
   background-color: white;
   border-radius: 12px;
   box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
/*
img{
  padding: 0;
  width: 1220px;
  margin: auto;
  display: block;
}
  */
.contenido-programa{
   display: flex;
   align-items: center;
   gap: 1.5rem;
}
.invertido{
   flex-direction: row-reverse;
}
.contenido-programa img{
   width: 400px;
   border-radius: 10px;
   height: auto;
   flex-shrink: 0;
   padding: 0;
}
.contenido-programa p{
   margin: 0;
}
.texto-en-programa{
   font-style: italic;
   font-size: 1.4em;
}


/* FONDO IMAGEN*/
/*
.contenedorDeImagen {
    position: relative;
 /* o el tamaño que quieran */

/*
.fondo {
    width: 100%;
    display: block;
}
*/
/*
.barra-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(106, 199, 106, 0.5);

}
*/
/*
.menu a:hover {
    background: rgba(34, 139, 34, 0.4);
}
*/
/* Estilo de la pagina Contacto */

.formulario-vertical {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  gap: 15px; /* Espacio entre cada elemento */
  max-width: 400px; /* Ancho máximo del formulario */
  margin: 0 left; /* Centra el formulario en la pantalla */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}